@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'EASTARJET-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
h1{
    font-family: 'PyeongChangPeace-Bold';
    font-size: 70px;
    color: black;
    animation-name: fade-in;
    animation-duration: 2s;    position: relative;
    top: 0cm
    text-align: center;
} 

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      color: black;
    }
  }
body{
    background-image: url("배경.jpg");
}
h5{
    font-family: 'Giants-Bold';
    font-size: 25px;
}
